body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

a {
  text-decoration: underline;
}

img {
  display: inline-block;
  max-width: 100%;
}

.aj-header {
  display: block;
  height: 100px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  background-color: #ffdab9;
}

.section-inner {
  height: 100%;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.ansley-and-james-logo-1 {
  display: block;
  margin-top: 14px;
  margin-bottom: 0px;
  padding: 0px 37px;
}

.nav-bar-container {
  display: block;
  overflow: visible;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  float: right;
  clear: none;
  opacity: 1;
  text-align: left;
}

.aj-nav-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-bottom: 78px;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
}

.ansley-and-james-body {
  display: block;
  max-height: 0vh;
  min-height: 0vh;
  margin: -15px auto 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #e9e9e9;
  line-height: 18px;
}

.hours-and-location-section {
  display: inline-block;
  margin-right: 47px;
  margin-bottom: 0px;
  margin-left: 47px;
  padding-top: 0px;
  padding-right: 29px;
  padding-left: 29px;
  float: none;
  background-color: #b9a7d3;
  font-family: 'Myriad pro semiextended', sans-serif;
  color: #000;
  font-size: 17px;
  text-align: center;
}

.bold-hours-and-location {
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-left: 0px;
  font-family: 'Bebasneue book', sans-serif;
  color: #000;
  font-size: 23px;
  font-weight: 400;
}

.container-2 {
  margin-top: 30px;
  margin-bottom: 34px;
  padding-top: 39px;
  padding-bottom: 0px;
}

.slide {
  position: static;
  padding: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, .1)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
}

.slide-nav {
  margin-bottom: 0px;
  padding-top: 0px;
  opacity: 0.36;
}

.footer-1-aandj {
  display: block;
  margin-top: 78px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  background-color: #000;
  color: #020000;
  font-weight: 400;
}

.dev-info {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  background-color: #b9a7d3;
  direction: ltr;
  font-family: 'Myriad pro', sans-serif;
  color: #000;
  font-size: 10px;
  text-align: left;
  text-decoration: none;
}

.heading-for-company {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
  font-family: 'Bebasneue book', sans-serif;
  color: #000;
}

.website-picture {
  position: relative;
  top: -14px;
  right: -33px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: left;
  clear: none;
  border-radius: 20px;
  text-align: left;
}

.main-content {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  opacity: 0.83;
  -webkit-perspective: 2000px;
  perspective: 2000px;
}

.slide-3 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.bio-paragraph {
  position: relative;
  top: 50px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px 0px 0px 60px;
  float: none;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: transparent;
  font-family: 'Myriad pro semiextended', sans-serif;
  color: #000;
  font-size: 19px;
  font-weight: 200;
  text-align: left;
}

.bio-with-picture-included {
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-bar {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #b9a7d3;
  box-shadow: 0 0 50px 25px #b9a7d3;
  opacity: 1;
  font-family: Bebasneue, sans-serif;
  font-size: 20px;
  text-decoration: underline;
}

.home-nav-link {
  color: #000;
}

.home-nav-link.w--current {
  font-family: 'Bebasneue book', sans-serif;
  color: #000;
  text-align: left;
  text-decoration: underline;
}

.contact-nav-link {
  font-family: 'Bebasneue book', sans-serif;
  color: #000;
}

.contact-nav-link.w--current {
  color: #000;
}

.nav-link-3 {
  color: #000;
}

.nav-link-3.w--current {
  color: #000;
  text-decoration: underline;
}

.nav-link-4 {
  color: #000;
}

.nav-link-4.w--current {
  color: #000;
  text-decoration: underline;
}

.nav-link-5 {
  color: #000;
}

.nav-link-5.w--current {
  color: #000;
  text-decoration: underline;
}

.nav-link-6 {
  color: #000;
}

.nav-link-6.w--current {
  color: #000;
}

.main-footer {
  position: static;
  display: block;
  max-height: 0vh;
  min-height: 0vh;
  margin: 0px auto;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background-color: #e6e6fa;
  text-align: center;
}

.services-info {
  background-color: #fff;
}

.services-block {
  margin-bottom: 35px;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #fff;
  font-family: Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

.container-5 {
  color: #fff;
}

.container-6 {
  color: #fff;
}

.div-block-8 {
  color: #fff;
}

.text-block-2 {
  padding-right: 54px;
  padding-left: 54px;
  background-color: #fff;
}

.paragraph-2 {
  margin-bottom: 0px;
  padding-top: 53px;
  padding-bottom: 53px;
  background-color: #fff;
}

.main-container {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 10px;
  background-color: #fff;
}

.nav-link-7 {
  color: #000;
}

.nav-link-7.w--current {
  color: #000;
}

.unordered-list {
  padding-left: 0px;
}

.text-block-3 {
  margin-right: 49px;
  margin-bottom: 0px;
  margin-left: 49px;
  padding-top: 30px;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 31px;
  background-color: #fff;
  text-align: center;
}

.paragraph-3 {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  text-align: center;
  text-transform: none;
}

.div-block-9 {
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-right: 46px;
  padding-left: 46px;
  float: none;
}

.container-7 {
  margin-bottom: 65px;
  padding-bottom: 0px;
}

.services-heading {
  margin-bottom: 26px;
  padding-bottom: 0px;
  color: #fff;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.section {
  display: inline-block;
  margin-top: 32px;
  margin-bottom: 17px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #fff;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 50px;
  padding-left: 50px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
}

.text-block-5 {
  display: inline-block;
}

.div-block-11 {
  display: inline-block;
}

.text-block-6 {
  display: inline-block;
}

.paragraph-4 {
  margin-bottom: 10px;
}

.text-field {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #fff;
  color: #000;
  text-align: left;
}

.text-field::-webkit-input-placeholder {
  color: #000;
}

.text-field:-ms-input-placeholder {
  color: #000;
}

.text-field::-ms-input-placeholder {
  color: #000;
}

.text-field::placeholder {
  color: #000;
}

.text-field-2 {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0px;
}

.text-field-2::-webkit-input-placeholder {
  color: #000;
}

.text-field-2:-ms-input-placeholder {
  color: #000;
}

.text-field-2::-ms-input-placeholder {
  color: #000;
}

.text-field-2::placeholder {
  color: #000;
}

.submit-button {
  display: block;
  width: 500px;
  margin: 25px auto;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 20px;
  text-align: center;
}

.textarea {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.textarea::-webkit-input-placeholder {
  color: #000;
}

.textarea:-ms-input-placeholder {
  color: #000;
}

.textarea::-ms-input-placeholder {
  color: #000;
}

.textarea::placeholder {
  color: #000;
}

.section-2 {
  display: block;
  width: 500px;
  margin: 4px auto;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.paragraph-5 {
  text-align: center;
}

.text-block-7 {
  padding-top: 65px;
  padding-bottom: 65px;
  text-align: center;
}

.cuts-and-styling-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 32px auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.text-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: 'Pistilli roman', sans-serif;
  color: #fff;
  font-size: 17px;
  text-align: left;
  text-decoration: underline;
}

.bold-text-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 31px;
  padding-left: 31px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  color: #fff;
}

.services-div {
  position: static;
  display: inline;
  text-align: center;
}

.text-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #fff;
  text-align: center;
}

.text-block-10 {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: 'Pistilli roman', sans-serif;
  color: #fff;
  font-size: 17px;
  text-decoration: underline;
}

.overall-footer-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bold-text-4 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 26px;
  padding-left: 26px;
  color: #fff;
  font-size: 17px;
}

.styling-and-bridal-prices {
  display: block;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: 'Myriad pro semiextended', sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 90px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.hair-services-prices {
  font-family: 'Myriad pro semiextended', sans-serif;
  font-size: 25px;
  text-decoration: underline;
}

.heading-4 {
  margin-top: 18px;
  margin-bottom: 18px;
  font-family: Bebasneue, sans-serif;
  color: #000;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}

.div-block-16 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.text-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-family: 'Myriad pro', sans-serif;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.image-box-for-products {
  position: static;
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.div-block-17 {
  display: block;
  text-align: left;
}

.div-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-13 {
  margin: 22px 11px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;
}

.form {
  margin: 0px 47px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.submit-button-2 {
  display: block;
  margin: 20px auto;
  padding: 10px 286px;
  font-family: 'Open Sans', sans-serif;
}

.text-field-3 {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: 'Open Sans', sans-serif;
}

.text-field-4 {
  padding-right: 0px;
  padding-left: 0px;
  font-family: 'Open Sans', sans-serif;
}

.footer-div {
  background-color: #b9a7d3;
  box-shadow: 0 -20px 29px 11px #b9a7d3;
  opacity: 1;
}

.styling-prices {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 25px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.italic-text {
  font-family: 'Bebasneue book', sans-serif;
  color: #000;
  font-style: normal;
  text-decoration: underline;
}

.heading-with-logo {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-style: none;
  background-color: #b9a7d3;
  opacity: 1;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.paragraph-6 {
  margin-bottom: 0px;
  font-size: 25px;
  line-height: 10px;
  text-decoration: underline;
}

.footer-section {
  background-color: #ca94bf;
}

@media (max-width: 991px) {
  .aj-header {
    margin-top: -14px;
  }
  .ansley-and-james-body {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .hours-and-location-section {
    padding-top: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: center;
  }
  .bold-hours-and-location {
    text-align: center;
  }
  .slide-nav {
    opacity: 0.29;
  }
  .dev-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    padding-top: 0px;
  }
  .website-picture {
    top: 0px;
    right: 0px;
    bottom: 0px;
    float: left;
  }
  .bio-paragraph {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-left: 25px;
    float: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .nav-bar {
    margin-top: 0px;
    margin-bottom: 36px;
    color: #000;
  }
  .main-footer {
    min-height: 0vh;
    margin-top: 0px;
    margin-bottom: -1px;
    padding-top: 11px;
    padding-bottom: 0px;
    background-color: #ca94bf;
    box-shadow: 0 0 50px 18px #ca94bf;
    text-align: center;
  }
  .bold-text-2 {
    text-align: center;
  }
  .text-block-13 {
    margin: 22px 11px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-align: center;
  }
  .submit-button-2 {
    display: block;
    margin: 20px auto;
    padding: 10px 253px;
  }
  .text-field-3 {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .text-field-4 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .footer-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    padding-top: 0px;
  }
  .div-block-21 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .div-block-22 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .bio-section {
    margin-bottom: 25px;
  }
  .heading-with-logo {
    margin-top: -14px;
  }
}

@media (max-width: 767px) {
  .hours-and-location-section {
    padding-top: 0px;
  }
  .slide-nav {
    opacity: 0.34;
  }
  .slide-2 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .footer-1-aandj {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .dev-info {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #ca94bf;
    text-align: left;
  }
  .bio-paragraph {
    margin-right: 13px;
    margin-left: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    line-height: 19px;
    text-align: center;
  }
  .bio-with-picture-included {
    margin-top: 0px;
    margin-bottom: -50px;
  }
  .menu-button {
    float: right;
  }
  .nav-bar {
    margin-bottom: 36px;
  }
  .main-footer {
    margin-top: 61px;
    background-color: #ca94bf;
    box-shadow: 0 0 50px 18px #ca94bf;
  }
  .cuts-and-styling-heading {
    margin-top: 74px;
  }
  .styling-and-bridal-prices {
    position: static;
    line-height: 19px;
    text-align: left;
  }
  .text-block-13 {
    margin: 22px 11px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-align: center;
  }
  .submit-button-2 {
    display: block;
    margin: 20px auto;
    padding: 10px 83px;
    font-family: 'Open Sans', sans-serif;
  }
  .text-field-3 {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .text-field-4 {
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-block-19 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
  }
  .footer-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-bottom: 6px;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .div-block-22 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 33vh;
    margin-top: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .slide-4 {
    margin-top: 0px;
  }
}

@media (max-width: 479px) {
  .aj-header {
    margin-top: 0px;
  }
  .ansley-and-james-logo-1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 39px;
    padding-bottom: 0px;
  }
  .aj-nav-bar {
    margin-bottom: 0px;
  }
  .hours-and-location-section {
    position: static;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px;
    text-align: center;
  }
  .slide-nav {
    opacity: 0.33;
  }
  .footer-1-aandj {
    display: block;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .dev-info {
    position: static;
    display: block;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #b9a7d3;
    font-size: 9px;
    text-align: left;
  }
  .heading-for-company {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .website-picture {
    position: static;
    margin-top: 0px;
    float: none;
  }
  .main-content {
    margin-top: 4px;
  }
  .bio-paragraph {
    position: static;
    display: block;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 0px;
    text-align: center;
  }
  .bio-with-picture-included {
    margin-top: 0px;
    margin-bottom: -4px;
  }
  .nav-bar {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: 0 0 3px 0 #b9a7d3;
  }
  .main-footer {
    min-height: 0vh;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 1px;
    padding-bottom: 0px;
    background-color: #ca94bf;
    box-shadow: 0 0 50px 18px #ca94bf;
    color: #000;
  }
  .bold-text-2 {
    margin-right: 0px;
    margin-left: 0px;
    text-align: left;
  }
  .text-field {
    margin-right: 0px;
    margin-left: 0px;
    border: 1px none #000;
  }
  .paragraph-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .cuts-and-styling-heading {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #000;
  }
  .styling-and-bridal-prices {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 18px;
    padding-left: 18px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #000;
    line-height: 23px;
  }
  .hair-services-prices {
    color: #000;
  }
  .heading-4 {
    margin-top: 34px;
    margin-bottom: 34px;
    color: #000;
  }
  .text-block-12 {
    padding-top: 0px;
    color: #000;
  }
  .image-box-for-products {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .text-block-13 {
    display: block;
    margin: 22px 11px;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-align: center;
  }
  .form {
    display: block;
    text-align: center;
  }
  .submit-button-2 {
    display: inline-block;
    margin: 20px 0px;
    padding: 10px 83px;
    font-family: 'Open Sans', sans-serif;
  }
  .text-field-3 {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
  }
  .text-field-4 {
    display: block;
    padding-left: 0px;
    font-family: 'Open Sans', sans-serif;
  }
  .footer-div {
    margin-bottom: 0px;
  }
  .bio-section {
    margin-bottom: 0px;
  }
  .slide-4 {
    margin-top: 0px;
  }
}

@font-face {
  font-family: 'Myriad pro';
  src: url('../fonts/Myriad-Pro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pistilli roman';
  src: url('../fonts/pistilli-roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bebasneue';
  src: url('../fonts/BebasNeue-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Bebasneue';
  src: url('../fonts/BebasNeue-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Bebasneue';
  src: url('../fonts/BebasNeue-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Bebasneue';
  src: url('../fonts/BebasNeue-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bebasneue book';
  src: url('../fonts/BebasNeue-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad pro semiextended';
  src: url('../fonts/Myriad-Pro-Light-SemiExtended.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}