body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

* {
    /* this adds padding to a box and it won't increase the width, but it adds the padding inwards, not outwards. */
    -webkit-box-sizing: border-box;
    /* for chrome and safari.  */
    -moz-box-sizing: border-box;
    /*for firefox*/
    box-sizing: border-box;
    /*for all the other browsers. */
}

section {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

h2 {
    font-size: 2em;
    font-weight: 100;
    color: darkslategray;
}

h4 {
    font-size: 1.5em;
    font-weight: 100;
    color: darkslategray;
}

p {
    font-size: 1em;
    color: darkslategray;
}

hr {
    width: 60%;
}

.nav {
    background-color: slategray;
    width: 100%;
    height: 3em;
}

.nav ul {
    float: right;
    
}

.nav li {
    color: darkslategray;
    display: inline;
    list-style: none;
    padding-right: 50px;
    transition: 0.3s color ease-in-out;
}

.nav li:hover {
    color: black;
    transition: 0.3s color ease-in-out;
    -webkit-transition: 0.3s color ease-in-out;
    -moz-transition: 0.3s color ease-in-out;
    -o-transition: 0.3s color ease-in-out;
    
}

.container {
    margin: auto;
    width: 100%;
}

.title-wrapper {
    background-image: url(images/white-board.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50%;
    width: 100%;
    margin: auto;
    z-index: -1;
    text-align: center;
}

.logo {
    position: absolute;
    display: inline-flex;
    z-index: 1;
    padding-top: 5em;
}

#services-section {
    display: flex;
    background-color: lightblue;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
}

#services {
    padding-left: 4em;
}

#services h2 {
    text-transform: uppercase;
}

#services h4 {
    text-transform: uppercase;
    text-decoration: underline;
}

#services p {
    color: darkslategray;
    display: block;
    font-weight: 100;
    line-height: 2em;
    width: 90%;
}

#contact {
    background-color: lightblue;
    margin: auto;
    width: 90%;
}

#contact h4 {
    color: darkslategray;
    font-weight: 100;
    text-decoration: underline;
}

.hours {
    color: darkslategray;
    display: block;
    font-size: 1em;
    font-weight: 100;
    line-height: 1em;
}

.location {
    color: darkslategray;
    display: block;
    font-size: 1em;
    font-weight: 100;
    line-height: 35px;
    
}

footer {
    background-color: slategray;
    text-align: center;
    padding-top: 0em;
    display: inline-block;
    width: 100%;
}

footer p {
    font-size: .5em;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}


/*Media Queries for Galaxy phones landscape*/
    
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

.nav {
    background-color: slategray;
    font-size: .8em;
}

.nav li {
    color: #fff;
    text-transform: uppercase;
}
.logo {
    position: absolute;
    display: inline-block;
    z-index: 1;
    padding-top: 10px;
 }
    
#services-section {
    background-color: lightblue;
    display: inline-block;
    text-align: left;
 }

#services {
    padding-left: 2em;
}
    
#services h2 {
    color: darkslategray;
    font-size: 1.5em;
    font-weight: 100;
    text-decoration: underline;
    text-transform: uppercase;
 }

 #services h4 {
    color: darkslategray;
    font-size: 1em;
    font-weight: 100;
    text-transform: uppercase;
    text-align: left;
}
    
#services p {
    color: darkslategray;
    display: block;
    font-size: 1em;
    font-weight: 100; 
    width: 100%;
 }

#contact h4 {
    color: darkslategray;
    font-size: 1em;
    font-weight: 100;
    text-decoration: underline;
    text-transform: uppercase;
 }

.hours {
    color: darkslategray;
    display: block;
    font-size: 1em;
    font-weight: 100;
 }
    
.location {
    color: darkslategray;
    display: block;
    font-size: 1em;
    font-weight: 100;
 }
    
footer {
    background-color: slategray;
    font-size: .1em;
    text-align: left;
    display: inline-block;
    width: 100%;
 } 
 
 footer p {
     color: #fff;
     text-align: center;
     font-size: .7em;
 }
}

/*Media Queries for Galaxy phones potrait*/
    
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
.nav {
    background-color: slategray;
    font-size: .8em;
}
    
.nav li {
    color: #fff;
    text-transform: uppercase;
}
.logo {
    position: inherit;
    display: inline-block;
    z-index: 1;
}
    
#services-section {
    background-color: lightblue;
    display: inline-block;
    text-align: center;
}

#services {
    padding-left: 0em;
}

#services h2 {
    color: darkslategray;
    font-size: 30px;
    font-weight: 100;
    text-decoration: underline;
    text-transform: uppercase;
}

#services h4 {
    color: darkslategray;
    font-size: 1.5em;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}
    
#services p {
    color: darkslategray;
    display: block;
    font-size: 1em;
    font-weight: 100;
    width: 100%;
 }

#contact {
    margin: auto;
    width: 77%;
}

#contact h4 {
    color: darkslategray;
    font-size: 1.5em;
    font-weight: 100;
    text-decoration: underline;
    text-transform: uppercase;
 }

.hours {
    color: darkslategray;
    display: block;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.5em;
 }
    
.location {
    color: darkslategray;
    display: block;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.5em;
 }
    
 footer {
    background-color: slategray;
    font-size: .1em;
    text-align: left;
    display: inline-block;
    width: 100%;
 } 
 
 footer p {
     color: #fff;
     text-align: center;
     font-size: .7em;
 }
}
/*iPhone 5 Portrait*/

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
.nav {
    background-color: slategray;
    font-size: .8em;
}
.nav li {
    color: #fff;
    text-transform: uppercase;
}    
.logo {
    position: relative;
    display: inline-block;
    z-index: 1;
    padding-top: 60px;
}
#services-section {
    display: block;
    background-color: lightblue;
    text-align: center;
}
#services {
    padding-left: 0em;
}   
#services h2 {
    color: darkslategray;
    font-size: 30px;
    font-weight: 100;
    text-decoration: underline;
    text-transform: uppercase;
}
#services h4 {
    color: darkslategray;
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}   
#services p {
    color: darkslategray;
    display: block;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.5em;
    width: 76%;
    margin: auto;
}
#contact h4 {
    color: darkslategray;
    font-size: 1.5em;
    font-weight: 100;
    text-decoration: underline;
    text-transform: uppercase;
 }

.hours {
    color: darkslategray;
    display: block;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.5em;
 }
    
.location {
    color: darkslategray;
    display: block;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.5em;
 }
    
 footer {
    background-color: slategray;
    font-size: .1em;
    text-align: left;
    display: inline-block;
    width: 100%;
}
footer p {
    color: #fff;
    text-align: center;
    font-size: .7em;
}
}

/*iPhone 678 Landscape*/
    
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    
.nav {
    background-color: slategray;
    font-size: .7em;
}
.nav li {
    color: #fff;
    text-transform: uppercase;
}
.logo {
    position: absolute;
    display: inline-block;
    z-index: 1;
    padding-top: 3em;
}

.title-wrapper {
    background-image: url(images/white-board.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 67%;
    width: 100%;
    margin: auto;
    z-index: -1;
    text-align: center;
}
#services-section {
    background-color: lightblue;
    text-align: center;
}
#services {
    padding-left: 0em;
}    
#services h2 {
    color: darkslategray;
    font-size: 1.5em;
    font-weight: 100;
    text-decoration: underline;
    text-transform: uppercase;
}  
#services h4 {
    color: darkslategray;
    font-size: 1em;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}       
#services p {
    color: darkslategray;
    display: block;
    font-size: 1em;
    font-weight: 100;
    width: 93%;
    margin: auto;
} 
#contact h4 {
    color: darkslategray;
    font-size: 20px;
    font-weight: 100;
    text-decoration: underline;
    text-transform: uppercase;
}    
.hours {
    color: darkslategray;
    display: block;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.5em;
    width: 97%;
    margin: auto;
}      
.location {
    color: darkslategray;
    display: block;
    font-size: 15px;
    font-weight: 100;
    line-height: 35px;
}        
footer {
    background-color: slategray;
    font-size: .1em;
    text-align: left;
    display: inline-block;
    width: 100%;
}
footer p {
    color: #fff;
    text-align: center;
    font-size: .7em;
} 
}

/*iPhone 678 Portrait*/
    
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    #services p {
        color: darkslategray;
        display: block;
        font-size: 1em;
        font-weight: 100;
        width: 85%;
        margin: auto;
    }
    .hours {
        color: darkslategray;
        display: block;
        font-size: 1em;
        font-weight: 100;
        line-height: 1.7em;
    }
    }
    

/*iPhone 678 PLUS Landscape*/

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .nav {
        background-color: slategray;
        font-size: .7em;
    }
    
    .nav li {
        color: #fff;
        text-transform: uppercase;
    }
    .logo {
        position: absolute;
        display: inline-block;
        z-index: 1;
        padding-top: 2em;
    }
    .title-wrapper {
        background-image: url(images/white-board.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 60%;
        width: 100%;
        margin: auto;
        z-index: -1;
        text-align: center;
    }   
    #services-section {
        background-color: lightblue;
        text-align: center;
    }
    #services {
        padding-left: 1em;
    }
    #services h2 {
        color: darkslategray;
        font-size: 2em;
        font-weight: 100;
        text-decoration: underline;
        text-transform: uppercase;
    }
    
    #services h4 {
        color: darkslategray;
        font-size: 1.5em;
        font-weight: 100;
        text-transform: uppercase;
        text-align: center;
    }
        
    #services p {
        color: darkslategray;
        display: block;
        font-size: 1em;
        font-weight: 100;
        line-height: 1.5em;
        width: 89%;
        margin: auto;
    }
    
    #contact h4 {
        color: darkslategray;
        font-size: 1.5em;
        font-weight: 100;
        text-decoration: underline;
        text-transform: uppercase;
    }
    
    .hours {
        color: darkslategray;
        display: block;
        font-size: 1em;
        font-weight: 100;
        line-height: 1.5em;
        margin: auto;
        width: 88%;
    }
    
    .location {
        color: darkslategray;
        display: block;
        font-size: 1em;
        font-weight: 100;
        line-height: 1.5em;
    }
        
    footer {
        background-color: slategray;
        font-size: .1em;
        text-align: left;
        display: inline-block;
        width: 100%;
     } 
     
     footer p {
         color: #fff;
         text-align: center;
         font-size: .7em;
     }     
}

/*iPhone X Landscape*/

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .nav {
        background-color: slategray;
        font-size: .7em;
    }
    
    .nav li {
        color: #fff;
        text-transform: uppercase;
    }
    .logo {
        position: absolute;
        display: inline-block;
        z-index: 1;
        padding-top: 2em;
    }
    .title-wrapper {
        background-image: url(images/white-board.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 60%;
        width: 100%;
        margin: auto;
        z-index: -1;
        text-align: center;
    }   
    #services-section {
        background-color: lightblue;
        text-align: center;
    }
    #services {
        padding-left: 1em;
    }
    #services h2 {
        color: darkslategray;
        font-size: 2em;
        font-weight: 100;
        text-decoration: underline;
        text-transform: uppercase;
    }
    
    #services h4 {
        color: darkslategray;
        font-size: 1.5em;
        font-weight: 100;
        text-transform: uppercase;
        text-align: center;
    }
        
    #services p {
        color: darkslategray;
        display: block;
        font-size: 1em;
        font-weight: 100;
        line-height: 1.5em;
        width: 89%;
        margin: auto;
    }
    
    #contact h4 {
        color: darkslategray;
        font-size: 1.5em;
        font-weight: 100;
        text-decoration: underline;
        text-transform: uppercase;
    }
    
    .hours {
        color: darkslategray;
        display: block;
        font-size: 1em;
        font-weight: 100;
        line-height: 1.5em;
        margin: auto;
        width: 88%;
    }
    
    .location {
        color: darkslategray;
        display: block;
        font-size: 1em;
        font-weight: 100;
        line-height: 1.5em;
    }
        
    footer {
        background-color: slategray;
        font-size: .1em;
        text-align: left;
        display: inline-block;
        width: 100%;
     } 
     
    footer p {
         color: #fff;
         text-align: center;
         font-size: .7em;
     }
}

/* iPad landscape*/

 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .nav {
        background-color: slategray;
    font-size: .7em;
    }
    
    .nav li {
        color: #fff;
        text-transform: uppercase;
    }
    .logo {
        margin-left: 20em;
        margin-top: 2em;
        position: inherit;
        z-index: 1;
        width: 45%;
        height: 66%;
    }  
    #services-section {
        display: block;
        background-color: lightblue;
        text-align: center;
    } 
    #services {
        padding-left: 0em;
    }      
    #services h2 {
        color: darkslategray;
        font-size: 4em;
        font-weight: 100;
        text-decoration: underline;
        text-transform: uppercase;
    }
    #services h4 {
        color: darkslategray;
        font-size: 2em;
        font-weight: 100;
        text-transform: uppercase;
        text-align: center;
    }       
    #services p {
        color: darkslategray;
        display: block;
        font-size: 1.5em;
        font-weight: 100;
        width: 62%;
        margin: auto;
    }   
    #contact h4 {
        color: darkslategray;
        font-size: 2em;
        font-weight: 100;
        text-decoration: underline;
    }
    .hours {
        color: darkslategray;
        display: block;
        font-size: 1.5em;
        font-weight: 100;
        line-height: 1em;
    }      
    .location {
        color: darkslategray;
        display: block;
        font-size: 1.5em;
        font-weight: 100;
        line-height: 1.5em;
    }      
    footer {
        background-color: slategray;
        font-size: .1em;
        text-align: left;
        display: inline-block;
        width: 100%;
    }  
    footer p {
        color: #fff;
        text-align: center;
        font-size: .7em;

    }
 }
/*iPad Portrait*/
    
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .nav {
        background-color: slategray;
        font-size: .7em;
    } 
    .nav li {
        color: #fff;
        text-transform: uppercase;
    }
    .logo {
        margin-top: 4em;
        margin-left: 9em;
        position: absolute;
        display: block;
        z-index: 1;
        width: 66%;
        height: 29%;
    } 
    #services-section {
        display: block;
        background-color: lightblue;
        text-align: center;
    } 
    #services {
        padding-left: 0em;
    }      
    #services h2 {
        color: darkslategray;
        font-size: 4em;
        font-weight: 100;
        text-decoration: underline;
        text-transform: uppercase;
    }
    #services h4 {
        color: darkslategray;
        font-size: 2em;
        font-weight: 100;
        text-transform: uppercase;
        text-align: center;
    }       
    #services p {
        color: darkslategray;
        display: block;
        font-size: 1.5em;
        font-weight: 100;
        width: 62%;
        margin: auto;
    }   
    #contact h4 {
        color: darkslategray;
        font-size: 2em;
        font-weight: 100;
        text-decoration: underline;
    }
    .hours {
        color: darkslategray;
        display: block;
        font-size: 1.5em;
        font-weight: 100;
        line-height: 1em;
    }      
    .location {
        color: darkslategray;
        display: block;
        font-size: 1.5em;
        font-weight: 100;
        line-height: 1.5em;
    }      
    footer {
        background-color: slategray;
        font-size: .1em;
        text-align: left;
        display: inline-block;
        width: 100%;
    }  
    footer p {
        color: #fff;
        text-align: center;
        font-size: .7em;
    }
}

/*iPad Pro Landscape*/
    
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .nav {
        background-color: slategray;
        font-size: .7em;
    } 
    .nav li {
        color: #fff;
        text-transform: uppercase;
    }
    .logo {
        margin-top: 1em;
        margin-left: 12em;
        position: absolute;
        display: block;
        z-index: 1;
        width: 72%;
        height: 38%;
    } 
    #services-section {
        display: block;
        background-color: lightblue;
        text-align: center;
    } 
    #services {
        padding-left: 0em;
    }      
    #services h2 {
        color: darkslategray;
        font-size: 4em;
        font-weight: 100;
        text-decoration: underline;
        text-transform: uppercase;
    }
    #services h4 {
        color: darkslategray;
        font-size: 2em;
        font-weight: 100;
        text-transform: uppercase;
        text-align: center;
    }       
    #services p {
        color: darkslategray;
        display: block;
        font-size: 1.5em;
        font-weight: 100;
        width: 62%;
        margin: auto;
    }   
    #contact h4 {
        color: darkslategray;
        font-size: 2em;
        font-weight: 100;
        text-decoration: underline;
    }
    .hours {
        color: darkslategray;
        display: block;
        font-size: 1.5em;
        font-weight: 100;
        line-height: 1em;
    }      
    .location {
        color: darkslategray;
        display: block;
        font-size: 1.5em;
        font-weight: 100;
        line-height: 1.5em;
    }      
    footer {
        background-color: slategray;
        font-size: .1em;
        text-align: left;
        display: inline-block;
        width: 100%;
    }  
    footer p {
        color: #fff;
        text-align: center;
        font-size: .7em;
    }
}