body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

* {
    /* this adds padding to a box and it won't increase the width, but it adds the padding inwards, not outwards. */
    -webkit-box-sizing: border-box;
    /* for chrome and safari.  */
    -moz-box-sizing: border-box;
    /*for firefox*/
    box-sizing: border-box;
    /*for all the other browsers. */
}

section {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.nav {
    background-color: lightblue;
    width: 100%;
    height: 50px;
}

.nav ul {
    float: right;
    
}

.nav li {
    color: #fff;
    display: inline;
    list-style: none;
    padding-right: 50px;
    transition: 0.3s color ease-in-out;
}

.nav li:hover {
    color: black;
    transition: 0.3s color ease-in-out;
    -webkit-transition: 0.3s color ease-in-out;
    -moz-transition: 0.3s color ease-in-out;
    -o-transition: 0.3s color ease-in-out;
    
}

.container {
    margin: auto;
    width: 100%;
}

.title-wrapper {
    background-image: url(images/white-board.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50%;
    width: 100%;
    margin: auto;
    opacity: 0.3;
    position: relative;
    z-index: 1;
}

.logo {
    position: absolute;
    z-index: 2;
    width: auto;
    margin-left: 500px;
    margin-top: -250px;
}

#services-section {
    background-color: lightblue;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}

#services h2 {
    color: darkslategray;
    font-size: 40px;
    font-weight: 100;
    text-decoration: underline;
    text-transform: uppercase;
}

#services h4 {
    color: darkslategray;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}

#services p {
    color: darkslategray;
    display: block;
    font-size: 25px;
    font-weight: 100;
    line-height: 35px;
    width: 100%;
}

#contact {
    background-color: lightblue;
    margin: 0;
    width: auto;
    text-align: center;
}

#contact h3 {
    color: darkslategray;
    font-size: 40px;
    font-weight: 100;
    text-decoration: underline;
}

.hours {
    
    color: darkslategray;
    display: block;
    font-size: 25px;
    font-weight: 100;
    line-height: 35px;
}

.location {
    color: darkslategray;
    display: block;
    font-size: 25px;
    font-weight: 100;
    line-height: 35px;
    
}

footer {
    background-color: lightblue;
    text-align: left;
    padding-top: 0px;
    display: inline-block;
    width: 100%;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}


